<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Lista de Superhéroes</title>
    <link rel="stylesheet" href="/api/superheroes/style.css">
</head>
<body>
    <h1>Dashboard - Lista de Superhéroes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre del Superhéroe</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta de Origen</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliado</th>
                <th>Enemigo</th>
                <th>Creadores</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (superheroes && superheroes.length > 0) { %>
                <% superheroes.forEach(superheroe => { %>
                    <tr>
                        <td><%= superheroe.nombreSuperheroe %></td>
                        <td><%= superheroe.nombreReal %></td>
                        <td><%= superheroe.edad %></td>
                        <td><%= superheroe.planetaOrigen %></td>
                        <td><%= superheroe.debilidad %></td>
                        <td><%= superheroe.poder.join(', ') %></td>
                        <td><%= superheroe.aliado %></td>
                        <td><%= superheroe.enemigo %></td>
                        <td><%= superheroe.creador.join(', ') %></td>
                        <td>
                            <a href="/api/superheroes/<%= superheroe._id %>/edit">Editar</a>
                            <form action="/api/superheroes/<%= superheroe._id %>/delete?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="10">No hay superhéroes disponibles.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <!-- Formulario de creación -->
     <a href="/api/superheroes/new">Crear Nuevo</a>
     <!-- Formulario para Eliminar por Atributo-->
      <a href="/api/superheroes/deleteAttribute">Eliminar</a>
</body>
</html>